<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="~/contents/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/contents/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">


    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/css/CustomeStyleSheet.css" rel="stylesheet" />
    <!-- Main css -->
</head>
<body>
    <div>
        @RenderBody()


    </div>



    <script src="~/contents/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="~/contents/moment.min.js"></script>
    <script src="~/contents/js/bootstrap.min.js"></script>
    <script src="~/contents/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/contents/CustomeScript.js"></script>
</body>

</html>
