<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href=@Url.Content("/Content/fonts/material-icon/css/material-design-iconic-font.min.css")>

    <!-- Main css -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/style.css")>


</head>
<body>
    <div>
        @RenderBody()
    </div>

    <!-- JS -->
    <script src=@Url.Content("/Content/vendor/jquery/jquery.min.js")></script>
    <script src=@Url.Content("/Content/js/main.js")></script>
</body>
</html>
